/* -------= imports =------- */
/* MIXINS */
/* by https://bitbucket.org/wowua/ */
.inlineblock {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.clearfix {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* -------= imports =------- */
/* -------= variables =------- */
/* -------= variables =------- */
/* -------= second-block =------- */
.second-block {
  height: 140px;
}
.super-button {
  position: relative;
  height: 140px;
  width: 600px;
}
.super-button:hover {
  -webkit-transition: 0.5;
  -moz-transition: 0.5;
  -ms-transition: 0.5;
  -o-transition: 0.5;
  transition: 0.5;
}
.super-button:hover .super-button__backround-button {
  background-image: -webkit-linear-gradient(bottom, #0e2add, #b71f33);
  background-image: -moz-linear-gradient(bottom, #0e2add, #b71f33);
  background-image: -o-linear-gradient(bottom, #0e2add, #b71f33);
  background-image: -ms-linear-gradient(bottom, #0e2add, #b71f33);
  background-image: linear-gradient(to top, #0e2add, #b71f33);
}
.super-button__backround-button {
  position: absolute;
  margin-right: 13px;
  line-height: 30px;
  height: 140px;
  width: 600px;
  padding: 0 10px;
  border-radius: 6px;
  background-image: -webkit-linear-gradient(bottom, #b71f33, #0e2add);
  background-image: -moz-linear-gradient(bottom, #b71f33, #0e2add);
  background-image: -o-linear-gradient(bottom, #b71f33, #0e2add);
  background-image: -ms-linear-gradient(bottom, #b71f33, #0e2add);
  background-image: linear-gradient(to top, #b71f33, #0e2add);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  z-index: -1;
}
.super-button__front-border-button {
  position: absolute;
  border: 3px solid #000000;
  border-right: 3px solid transparent;
  border-radius: 6px;
  height: 140px;
  width: 580px;
  z-index: 2;
}
.super-button__text {
  height: 140px;
  width: 580px;
  text-align: center;
  line-height: 140px;
  z-index: 2;
  color: #ffffff;
  font-size: 50px;
}
.super-button__top-radius-fake {
  position: absolute;
  background: url('../static/img/button-top-radius-fake.png') center center no-repeat;
  z-index: 3;
  width: 26px;
  height: 6px;
  left: 574px;
}
.super-button__bottom-radius-fake {
  position: absolute;
  background: url('../static/img/button-bottom-radius-fake.png') center center no-repeat;
  z-index: 3;
  width: 26px;
  height: 6px;
  left: 574px;
  top: 134px;
}
.super-button__right-triangle {
  position: absolute;
  background: url('../static/img/button-right-triangle.png') center center no-repeat;
  z-index: 3;
  width: 22px;
  height: 28px;
  left: 578px;
  top: 56px;
}
.super-button__right-top-border {
  position: absolute;
  background: url('../static/img/button-fake-right-border.png') top left repeat-y;
  z-index: 3;
  width: 22px;
  height: 50px;
  left: 578px;
  top: 6px;
}
.super-button__right-bottom-border {
  position: absolute;
  background: url('../static/img/button-fake-right-border.png') top left repeat-y;
  z-index: 3;
  width: 22px;
  height: 50px;
  left: 578px;
  top: 84px;
}
.super-button-2 {
  position: relative;
  height: 45px;
  width: 300px;
}
.super-button-2:hover {
  -webkit-transition: 0.5;
  -moz-transition: 0.5;
  -ms-transition: 0.5;
  -o-transition: 0.5;
  transition: 0.5;
}
.super-button-2:hover .super-button__backround-button-2 {
  background-image: -webkit-linear-gradient(bottom, #0e2add, #b71f33);
  background-image: -moz-linear-gradient(bottom, #0e2add, #b71f33);
  background-image: -o-linear-gradient(bottom, #0e2add, #b71f33);
  background-image: -ms-linear-gradient(bottom, #0e2add, #b71f33);
  background-image: linear-gradient(to top, #0e2add, #b71f33);
}
.super-button__backround-button-2 {
  position: absolute;
  margin-right: 13px;
  line-height: 30px;
  height: 45px;
  width: 300px;
  padding: 0 10px;
  border-radius: 6px;
  background-image: -webkit-linear-gradient(bottom, #b71f33, #0e2add);
  background-image: -moz-linear-gradient(bottom, #b71f33, #0e2add);
  background-image: -o-linear-gradient(bottom, #b71f33, #0e2add);
  background-image: -ms-linear-gradient(bottom, #b71f33, #0e2add);
  background-image: linear-gradient(to top, #b71f33, #0e2add);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  z-index: -1;
}
.super-button__front-border-button-2 {
  position: absolute;
  border: 3px solid #000000;
  border-right: 3px solid transparent;
  border-radius: 6px;
  height: 45px;
  width: 280px;
  z-index: 2;
}
.super-button__text-2 {
  height: 45px;
  width: 280px;
  text-align: center;
  line-height: 45px;
  z-index: 2;
  color: #ffffff;
  font-size: 15px;
}
.super-button__top-radius-fake-2 {
  position: absolute;
  background: url('../static/img/button-top-radius-fake.png') center center no-repeat;
  z-index: 3;
  width: 26px;
  height: 6px;
  left: 274px;
}
.super-button__bottom-radius-fake-2 {
  position: absolute;
  background: url('../static/img/button-bottom-radius-fake.png') center center no-repeat;
  z-index: 3;
  width: 26px;
  height: 6px;
  left: 274px;
  top: 39px;
}
.super-button__right-triangle-2 {
  position: absolute;
  background: url('../static/img/button-right-triangle.png') center center no-repeat;
  z-index: 3;
  width: 22px;
  height: 28px;
  left: 278px;
  top: 8.5px;
}
.super-button__right-top-border-2 {
  position: absolute;
  background: url('../static/img/button-fake-right-border.png') top left repeat-y;
  z-index: 3;
  width: 22px;
  height: 2.5px;
  left: 278px;
  top: 6px;
}
.super-button__right-bottom-border-2 {
  position: absolute;
  background: url('../static/img/button-fake-right-border.png') top left repeat-y;
  z-index: 3;
  width: 22px;
  height: 2.5px;
  left: 278px;
  top: 36.5px;
}
/* -------= second-block =------- */
